.motivation-feedback-area {
    background: {
        image: url(../../../..//assets/img/motivation-home/motivation-feedback-bg.jpg);
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
}
.single-motivation-feedback-box {
    text-align: center;
    position: relative;
    z-index: 1;

    p {
        color: #221638;
        line-height: 1.8;
        margin-bottom: 0;
        font-size: 20px;
    }
    .client-info {
        margin-bottom: 25px;
        text-align: start;

        img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
        }
        .title {
            margin-left: 15px;

            h3 {
                color: var(--mainColor);
                margin-bottom: 0;
                font: {
                    size: 20px;
                    weight: 700;
                };
            }
            span {
                color: var(--optionalColor);
                display: block;
                font-size: 14px;
                margin-top: 4px;
            }
        }
    }
    &::before {
        top: 0;
        opacity: .8;
        right: 50px;
        z-index: -1;
        line-height: 1;
        color: #e8e8e8;
        content: "\f10a";
        font-size: 150px;
        position: absolute;
        font-family: Flaticon;
    }
}
.motivation-feedback-slides {
    max-width: 750px;
    margin: auto;
}

@media only screen and (max-width: 767px) {

    .motivation-feedback-slides {
        max-width: 100%;
    }
    .single-motivation-feedback-box {
        p {
            font-size: 16px;
        }
        .client-info {
            .title {
                h3 {
                    font: {
                        size: 18px;
                    };
                }
            }
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .motivation-feedback-slides {
        max-width: 100%;
    }
    .single-motivation-feedback-box {
        .client-info {
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

@media only screen and (min-width: 1550px) {}