.motivation-events-image {
    text-align: center;
    padding-left: 25px;
    position: relative;

    .motivation-shape-6 {
        position: absolute;
        bottom: 30px;
        right: 30px;

        img {
            animation-name: rotateme;
            animation-duration: 50s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}
.motivation-events-content {
    padding-right: 50px;

    .sub-title {
        display: block;
        text-transform: uppercase;
        color: var(--mainColor);
        margin-bottom: 10px;
        font: {
            size: 14px;
            weight: 600;
        };
    }
    h2 {
        margin-bottom: 12px;
        font: {
            size: 36px;
            weight: 700;
        };
    }
    p {
        margin-bottom: 0;
    }
}
.single-motivation-events-box {
    margin-top: 25px;
    position: relative;
    border-radius: 10px;
    padding: 20px 140px 20px 25px;
    background-color: #f9f9f9;

    .location {
        font-weight: 600;
        position: relative;
        color: var(--mainColor);
        margin-bottom: 11px;
        display: block;
    }
    h3 {
        margin-bottom: 15px;
        font: {
            size: 20px;
            weight: 700;
        };
    }
    .default-btn {
        margin-top: 5px;
        padding: {
            top: 9px;
            bottom: 9px;
        };
        i {
            left: 28px;
            top: 8px;
        }
    }
    .date {
        padding: 30px;
        display: flex;
        align-items: center;
        background-color: #EFEFEF;
        border-radius: 10px;
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        text-align: center;

        .div {
            font-size: 35px;
            line-height: 1.4;
            color: var(--mainColor);
            font-weight: bold;

            span {
                display: block;
                font-size: 20px;
                color: var(--blackColor);
                font-weight: 600;
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .motivation-events-content {
        padding-right: 0;

        .sub-title {
            font-size: 12.5px;
        }
        h2 {
            font-size: 24px;
        }
    }
    .single-motivation-events-box {
        padding: 20px;
        text-align: center;

        .location {
            margin-bottom: 9px;
        }
        h3 {
            font-size: 17px;
            margin-bottom: 10px;
        }
        .date {
            padding: 0;
            display: block;
            position: relative;
            text-align: center;
            background-color: transparent;
            margin-top: 12px;
            height: auto;

            .div {
                font: {
                    size: 18px;
                    weight: 600;
                };
                span {
                    font-size: 18px;
                    display: inline-block;
                }
            }
        }
    }
    .motivation-events-image {
        padding-left: 0;
        margin-top: 30px;

        .motivation-shape-6 {
            display: none;
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .motivation-events-image {
        padding-left: 0;
        margin-top: 30px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .motivation-events-content {
        h2 {
            font-size: 30px;
        }
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

@media only screen and (min-width: 1550px) {}