<div class="instructor-events-area ptb-100">
    <div class="container">
        <div class="section-title instructor-title-color">
            <span class="sub-title">UPCOMING EVENTS</span>
            <h2 class="el-messiri-font">Check Out Our Latest Events</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="instructor-events-box">
                    <div class="events-image">
                        <a routerLink="/single-events" class="d-block">
                            <img src="assets/img/instructor-home/events/events1.jpg" alt="image">
                        </a>
                    </div>
                    <div class="events-content">
                        <a href="javascript:void(0)" class="category">Art</a>
                        <h3 class="el-messiri-font"><a routerLink="/single-events">The Plaza Art Fair</a></h3>
                        <ul class="events-content-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-calendar'></i> April 30, 2023</li>
                            <li><i class='bx bx-map'></i> New York, US</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="instructor-events-box">
                    <div class="events-image">
                        <a routerLink="/single-events" class="d-block">
                            <img src="assets/img/instructor-home/events/events2.jpg" alt="image">
                        </a>
                    </div>
                    <div class="events-content">
                        <a href="javascript:void(0)" class="category">Design</a>
                        <h3 class="el-messiri-font"><a routerLink="/single-events">Park Forest Fine Art Fair</a></h3>
                        <ul class="events-content-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-calendar'></i> April 30, 2023</li>
                            <li><i class='bx bx-map'></i> New York, US</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="instructor-events-box">
                    <div class="events-image">
                        <a routerLink="/single-events" class="d-block">
                            <img src="assets/img/instructor-home/events/events3.jpg" alt="image">
                        </a>
                    </div>
                    <div class="events-content">
                        <a href="javascript:void(0)" class="category">Digital</a>
                        <h3 class="el-messiri-font"><a routerLink="/single-events">Port Clinton Art Festival</a></h3>
                        <ul class="events-content-footer d-flex justify-content-between align-items-center">
                            <li><i class='flaticon-calendar'></i> April 30, 2023</li>
                            <li><i class='bx bx-map'></i> New York, US</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="instructor-events-info">
                    <p>Get into details now?​ <a routerLink="/events">View all events</a></p>
                </div>
            </div>
        </div>
    </div>
</div>