.motivation-about-area {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.motivation-about-image {
    position: relative;
    z-index: 1;

    .video-btn-box {
        position: absolute;
        top: 100px;
        right: 0;
        
        .video-btn {
            cursor: pointer;
            color: var(--paragraphColor);
            padding: 25px 20px 20px 10px;
            border-radius: 10px 0 0 10px;
            transition: var(--transition);
            background-color: var(--whiteColor);
            font: {
                size: var(--fontSize);
                weight: 600;
            };
            i {
                width: 65px;
                height: 50px;
                font-size: 20px;
                line-height: 50px;
                margin-right: 8px;
                text-align: center;
                border-radius: 10px;
                display: inline-block;
                color: var(--whiteColor);
                transition: var(--transition);
                background-color: var(--mainColor);
            }
            &:hover {
                color: var(--mainColor);

                i {
                    background-color: var(--blackColor);
                    color: var(--whiteColor);
                }
            }
        }
    }
}
.motivation-about-me-content {
    padding-left: 30px;

    .sub-title {
        text-transform: uppercase;
        color: var(--mainColor);
        margin-bottom: 15px;
        display: block;
        font: {
            size: 14px;
            weight: 600;
        };
    }
    h2 {
        margin-bottom: 18px;
        font: {
            size: 36px;
            weight: 700;
        };
    }
    p {
        margin-bottom: 0;
    }
    .quote {
        padding: 20px;
        border-radius: 10px;
        background-color: #F9F9F9;
        color: var(--paragraphColor);
        margin: {
            top: 25px;
            bottom: 25px;
        };
        font: {
            size: 18px;
            weight: 600;
        };
    }
    .default-btn {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 767px) {

    .motivation-about-image {
        text-align: center;

        .motivation-shape-4 {
            display: none;
        }
    }
    .motivation-about-me-content {
        padding-left: 0;
        margin-top: 30px;

        .sub-title {
            font-size: 12.5px;
        }
        h2 {
            font-size: 24px;
        }
        .quote {
            font-size: 15px;
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .motivation-about-me-content {
        padding-left: 0;
        margin-top: 30px;

        h2 {
            font-size: 30px;
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .motivation-about-me-content {
        padding-left: 10px;

        h2 {
            font-size: 30px;
        }
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

@media only screen and (min-width: 1550px) {}