.kitchen-book-area {
    background: {
        image: url(../../../../assets/img/kitchen-home/kitchen-book-bg.jpg);
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
}
.kitchen-book-image {
    text-align: center;
}
.kitchen-book-content {
    .sub-title {
        display: block;
        color: var(--sparklingAppleColor);
        margin-bottom: 15px;
        text-transform: uppercase;
        font: {
            size: 14px;
            weight: 600;
        };
    }
    h2 {
        margin-bottom: 18px;
        font-size: 36px;
    }
    .book-btn {
        margin-top: 25px;

        .default-btn {
            background-color: var(--sparklingAppleColor);
        }
    }
}

@media only screen and (max-width: 767px) {

    .kitchen-book-content {
        margin-top: 25px;

        .sub-title {
            font-size: 12.5px;
        }
        h2 {
            margin-bottom: 12px;
            font-size: 24px;
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .kitchen-book-content {
        h2 {
            font-size: 30px;
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .kitchen-book-content {
        h2 {
            font-size: 30px;
        }
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

@media only screen and (min-width: 1550px) {}